








/* image 6 */

position: absolute;
width: 47px;
height: 49px;
left: 1237px;
top: 21px;

background: url(image.png);


/* image4 */

position: absolute;
width: 47px;
height: 55px;
left: 1141px;
top: 18px;

background: url(image.png);


/* image 5 */

position: absolute;
width: 59px;
height: 59px;
left: 1043px;
top: 14px;

background: url(image.png);


/* Rectangle 2 */

position: absolute;
width: 1478px;
height: 63px;
left: 0px;
top: 961px;

background: #073B4C;


/* Lebonsport */

position: absolute;
width: 359px;
height: 50px;
left: 557px;
top: 14px;

font-family: 'Jost';
font-style: normal;
font-weight: 400;
font-size: 48px;
line-height: 69px;
text-align: center;

color: #000000;



/* image 14 */

position: absolute;
width: 1478px;
height: 877px;
left: 0px;
top: 86px;

background: url(image.png);
opacity: 0.2;
filter: drop-shadow(0px 10px 4px rgba(0, 0, 0, 0.25));


/* Rectangle 9 */

box-sizing: border-box;

position: absolute;
width: 438px;
height: 248px;
left: 769px;
top: 541px;

background: #EF476F;
opacity: 0.8;
border: 2px solid #000000;
box-shadow: 3px 6px 4px 3px rgba(0, 0, 0, 0.25);
border-radius: 10px;


/* Rectangle 3 */

box-sizing: border-box;

position: absolute;
width: 438px;
height: 248px;
left: 280px;
top: 231px;

background: #63C317;
opacity: 0.8;
border: 2px solid #000000;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 10px;


/* Rectangle 8 */

box-sizing: border-box;

position: absolute;
width: 438px;
height: 248px;
left: 280px;
top: 541px;

background: #118AB2;
opacity: 0.8;
border: 2px solid #000000;
box-shadow: 3px 6px 4px 3px rgba(0, 0, 0, 0.25);
border-radius: 10px;


/* Rectangle 7 */

box-sizing: border-box;

position: absolute;
width: 438px;
height: 253px;
left: 769px;
top: 231px;

background: #FFD166;
opacity: 0.8;
border: 2px solid #000000;
box-shadow: 3px 6px 4px 3px rgba(0, 0, 0, 0.33);
border-radius: 10px;


/* Evènements */

position: absolute;
width: 257px;
height: 113px;
left: 371px;
top: 302px;

font-family: 'Lexend';
font-style: normal;
font-weight: 400;
font-size: 40px;
line-height: 50px;
text-align: center;

color: #000000;



/* Matchs à Venir */

position: absolute;
width: 354px;
height: 74px;
left: 820px;
top: 604px;

font-family: 'Lexend';
font-style: normal;
font-weight: 400;
font-size: 40px;
line-height: 50px;
text-align: center;

color: #000000;



/* Profil */

position: absolute;
width: 257px;
height: 61px;
left: 370px;
top: 604px;

font-family: 'Lexend';
font-style: normal;
font-weight: 400;
font-size: 40px;
line-height: 50px;
text-align: center;

color: #000000;



/* Organiser un Evènement */

position: absolute;
width: 257px;
height: 113px;
left: 867px;
top: 286px;

font-family: 'Lexend';
font-style: normal;
font-weight: 400;
font-size: 40px;
line-height: 50px;
text-align: center;

color: #000000;



/* image4 */

position: absolute;
width: 47px;
height: 55px;
left: 972px;
top: 399px;

background: url(image.png);


/* image 1 */

position: absolute;
width: 48px;
height: 54px;
left: 475px;
top: 683px;

background: url(image.png);


/* image 2 */

position: absolute;
width: 47px;
height: 49px;
left: 965px;
top: 688px;

background: url(image.png);


/* image 3 */

position: absolute;
width: 59px;
height: 59px;
left: 469px;
top: 395px;

background: url(image.png);


/* image 16 */

position: absolute;
width: 20px;
height: 20px;
left: 664px;
top: 983px;

background: url(image.png);


/* Tristan&Antonin */

position: absolute;
width: 372px;
height: 70px;
left: 564px;
top: 979px;

font-family: 'Jost';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 29px;
text-align: center;

color: #000000;

