











/* Lebonsport */



/* image 14 */

position: absolute;
width: 1478px;
height: 877px;
left: 0px;
top: 86px;

background: url(image.png);
opacity: 0.2;
filter: drop-shadow(0px 10px 4px rgba(0, 0, 0, 0.25));


/* Rectangle 9 */




/* Rectangle 8 */




/* Rectangle 7 */




/* Evènements */

position: absolute;
width: 257px;
height: 113px;
left: 371px;
top: 302px;

font-family: 'Lexend';
font-style: normal;
font-weight: 400;
font-size: 40px;
line-height: 50px;
text-align: center;

color: #000000;



/* Matchs à Venir */

position: absolute;
width: 354px;
height: 74px;
left: 820px;
top: 604px;

font-family: 'Lexend';
font-style: normal;
font-weight: 400;
font-size: 40px;
line-height: 50px;
text-align: center;

color: #000000;



/* Profil */

position: absolute;
width: 257px;
height: 61px;
left: 370px;
top: 604px;

font-family: 'Lexend';
font-style: normal;
font-weight: 400;
font-size: 40px;
line-height: 50px;
text-align: center;

color: #000000;



/* Organiser un Evènement */

position: absolute;
width: 257px;
height: 113px;
left: 867px;
top: 286px;

font-family: 'Lexend';
font-style: normal;
font-weight: 400;
font-size: 40px;
line-height: 50px;
text-align: center;

color: #000000;



/* image4 */

position: absolute;
width: 47px;
height: 55px;
left: 972px;
top: 399px;

background: url(image.png);


/* image 1 */

position: absolute;
width: 48px;
height: 54px;
left: 475px;
top: 683px;

background: url(image.png);


/* image 2 */

position: absolute;
width: 47px;
height: 49px;
left: 965px;
top: 688px;

background: url(image.png);


/* image 3 */

position: absolute;
width: 59px;
height: 59px;
left: 469px;
top: 395px;

background: url(image.png);


/* image 16 */



/* Tristan&Antonin */

position: absolute;
width: 372px;
height: 70px;
left: 564px;
top: 979px;

font-family: 'Jost';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 29px;
text-align: center;

color: #000000;

