 


/* HEADER RELATED CONTENT */

.menu-header{
    position: fixed;
    width: 100%;
    height: 80px;
    left: 0px;
    top: 0px;
    display: flex;
    background: #073B4C;
    }

    .pagetitle{
        position: absolute;
        width: 100px;
        height: 50px;
        margin-left: 40%;
        top: 10px;
        font-family: 'Jost';
        font-style: normal;
        font-weight: 400;
        font-size: 48px;
        line-height: 69px;
        text-align: center;
        color: #000000;
        user-select: none;
    }   

.menuicon1{
    position: relative;
    width: 52px;
    height: 55px;
/*     left: 75%;
    top: 18px; */
    margin-left: 80%;
    margin-top: 17px;
    background: url("/assets/icons/sport.png");
    background-repeat: no-repeat;
    background-size:47px;
}

.menuicon2{
    position: relative;
    width: 52px;
    height: 55px;
   /*  left: 79%;
    top: 18px; */
    margin-left: 2%;
    margin-top: 17px;
    background: url("/assets/icons/list.png");
    background-repeat: no-repeat;
    background-size:47px;
}

.menuicon3{
    position: relative;
    width: 52px;
    height: 55px;
 /*    left: 83%;
    top: 18px; */
    margin-left: 2%;
    margin-top: 17px;
    background: url("/assets/icons/calendar.png");
    background-repeat: no-repeat;
    background-size:47px;}

.menuicon4{
    position: relative;
    width: 52px;
    height: 55px;
 /*    left: 87%;
    top: 18px;  */
    margin-left: 2%;
    margin-right: 5%;
    margin-top: 17px;
    background: url("/assets/icons/profile.png");
    background-repeat: no-repeat;
    background-size:47px;
}



/* BODY RELATED CONTENT  */

body{
padding: 0px;
margin: 0px;
position: relative;
background: #FFFFFF;
background-image: url("/assets/icons/imagebackground.png");
background-repeat:repeat;
min-height: 500px;
}


.body-body{
position: absolute;
width: 100%;
height: 920px;
margin-top: 4%;
margin-bottom: 4%;
/* background-color: red;
 */}



/* FOOTER RELATED CONTENT */

.footer{
    position:fixed;
    width: 100%;
    height: 50px;
    bottom: 0px;
    left: 0px;
    background: #073B4C;
}   

#flexboxfooter{
    position: fixed;
    display: flex;
    justify-content: center;
    bottom: 13px;
    left: 48.1%;
}


#copyrights{
    width: 20px;
    user-select: none;

}

.copyrighttext{
    font-size: 18px;
    user-select: none;
}