 
*{
    font-family: 'Impact';
}


a{
    color:#073B4C;
   text-decoration: none; 
   background-color: none;
}
/* HEADER RELATED CONTENT */

.menu-header{
    position: fixed;
    width: 100%;
    height: 80px;
    left: 0px;
    top: 0px;
    display: flex;
    background:white;
    border-radius: 2px;
    border: solid;
    border-color: #073B4C;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    flex-direction: row-reverse;

    }

    .pagetitle{
        position: absolute;
        width: 100px;
        height: 50px;
        margin-right: 50%;
        top: 10px;
        font-family: 'Impact';
        font-style: normal;
        font-weight: 400;
        font-size: 48px;
        line-height: 69px;
        text-align: center;
        color:#073B4C;
        user-select: none;
    }   


    .imgheader{
        position: relative; 
        margin-right: 3%;         
        height: 60px; 
        width: 60px;
        top: 10px;
    }

    #logo5{
    position: fixed;
    left: 2%;
    }

/* BODY RELATED CONTENT  */

body{
padding: 0px;
margin: 0px;
position: relative;
background: #FFFFFF;
background-image: url("/assets/icons/imagebackground.png");
background-repeat:repeat;
}


.body-body{
    position: absolute;
width: 100%;
margin-top: 4%;
margin-bottom: 4%;
}


.liketext{
    user-select: none;
    font-family: 'Impact';
    color: red;
}

.cursor:hover{
cursor: pointer;}

        /* INDEX PAGE */

#rect1{
box-sizing: border-box;

/* position: absolute; */
position: fixed;
top: 41%;
left: 38%;
transform: translate(-50%, -50%);
width: 450px; 
height: 248px;
background: #63C317;
opacity: 0.8;
border: 2px solid #000000;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 10px;
}

#recttext{
position: relative;
width: 257px;
height: 113px;
margin-left: 20%;
margin-top: 1em;
font-family: 'Lexend';
font-style: normal;
font-weight: 400;
font-size: 40px;
line-height: 50px;
text-align: center;
color: #000000;
}

.rectimg{
    width: 70px;
    margin-left: 43%;
}

#rect2{
    box-sizing: border-box;

    position: fixed;
top: 41%;
left: 65%; 
transform: translate(-50%, -50%);
width: 450px; 
height: 248px;
/* position: absolute;
width: 23%;
height: 253px;
margin-left: 52%;
margin-top: 12%; */

background: #FFD166;
opacity: 0.8;
border: 2px solid #000000;
box-shadow: 3px 6px 4px 3px rgba(0, 0, 0, 0.33);
border-radius: 10px;

}

#rect3{
    box-sizing: border-box;

    position: fixed;
    top: 71%;
    left: 38%; 
    transform: translate(-50%, -50%);
    width: 450px; 
    height: 248px;
/* position: absolute;
width: 23%;
height: 248px;
margin-top: 28%;
margin-left: 24%; */
/* left: 280px;
top: 541px; */


background: #118AB2;
opacity: 0.8;
border: 2px solid #000000;
box-shadow: 3px 6px 4px 3px rgba(0, 0, 0, 0.25);
border-radius: 10px;
    
}

#rect4{
box-sizing: border-box;
position: fixed;
top: 71%;
left: 65%; 
transform: translate(-50%, -50%);
width: 450px; 
height: 248px;
/* position: relative;
width: 23%;
height: 248px;
margin-left: 52%;
margin-top: 28%; */
/* left: 769px;
top: 541px; */
background: #EF476F;
opacity: 0.8;
border: 2px solid #000000;
box-shadow: 3px 6px 4px 3px rgba(0, 0, 0, 0.25);
border-radius: 10px;
}

#rect1:hover, #rect2:hover, #rect3:hover, #rect4:hover{
    opacity: 1;
    transition: 0.5s;
} 
.cursor:hover {
    opacity: 0.5;
    transition: 0.5s;
}



                /* CONNEXION PAGE */

        .connexionmainbox{
            position: fixed;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            
            border: solid;
            background-color: white;
            border-radius: 7px;
            border-color:#073B4C;
            border-style: double;
/*             background: rgba(7, 59, 76, 0.7);
 */
            box-shadow: 5px 5px  rgba(7, 59, 76, 0.7);
       }

        #connectionboxfeature{
            width: 600px;
            height: 780px;
        }

        #inscriptionboxfeature{
            width: 600px;
            height: 780px;
        }

        #connexiontitle{
            text-align: center;
            position: fixed;
            white-space: nowrap;
            overflow:visible;
            left: 50%;
            font-family: 'Impact';
            color: #073B4C;
            top: 10%;
            transform: translate(-50%, -50%);
            opacity: 100%;
            font-size: 2.5em;
            user-select: none;
        }

        #connexionform{
            position: fixed;
            left: 13%;
            height: 200px;
            margin-top: 12%;
            width: 74%;
  
        }

        fieldset{
            margin: 2em 0;
            padding: 1em 2em;
            border: solid 1px #ccc;
            border-radius: 6px;
            min-width: 200px;

        }

        label{
            display: block;
            margin-top: 0.5em;
            margin-bottom: 3px;
            font-family: 'Impact';
            user-select: none;
            font-size: larger;
        }
    
        label:first-of-type{
            margin-top: 0;
        }

        input{
            padding: .5em;
            border: solid 1px #aaa;
        }

        input[type="email"], input[type="password"], input[type="text"],input[type="date"],input[type="file"]{
            width: 23em;
            border-radius: 6px;
            font-family: 'Impact';
            font-size: 16px;
            margin-top: 4px;
        }


        input[type="submit"]{
            width: 190px;
            margin-top: 0.5em;
            margin-left: 25%;
            background-color: #073B4C;
            color: wheat;
            border-radius: 6px;
            font-family: 'Impact';
            font-size: 1em;
        }

        p{
        margin-top: 3em;
        font-family: 'Impact';
        color: #073B4C;
        text-align: center;
        }



                /* PROFIL */

        #profilboxfeature{
            width: 1300px;
            height: 680px;
        }

      
        .profilbox{
            border-color: rgb(110, 97, 99);
            width: 90%;
            height: 80%;
            margin-left: 2.5%;
            border-width: 3px;
            
         
        }

         #profilflexbox{
            display: flex;
        }


        .fieldsettitle{
            font-size: 3em;
            color: #073B4C;
            user-select: none;

        }

        #profilimage{
            margin-top: 5%;
            width: 30%;
            height: 70%;
            margin-left: 2%;

        }

        #profilinformations{
            height: 440px;
            width: 80%;
            margin-top: 20px;
            user-select: none;

        }
        
        .borderselection{
            border: solid;
            border-radius: 50px;
            border-color: #073B4C;
            margin-right: 10px;
        }

        #informationtext{
            font-size: 1.5em;
            margin-top: 3%;
            margin-left: 15%;
            display: flex;
            flex-direction: column;
            color: #073B4C;
            line-height: 2em;
        }
       



                /* ORGANIZE PAGE */


        #sportimage{
            height: 280px;
            width: 280px;
            margin-top: 6%;
        }

        #organizeflexbox{
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            
            margin-left: 0.5%;
            margin-top: 5%;
            margin-right: 2%;
            width: 100%;
        }



/* FOOTER RELATED CONTENT */

.footer{
    position:fixed;
    width: 100%;
    height: 50px;
    bottom: 0px;
    left: 0px;
    border: solid;
    border-color: #073B4C;
    border-bottom: 0px;
    border-left: 0px;
    border-right: 0px;
    background: white;
}   

#flexboxfooter{
    position: fixed;
    display: flex;
    justify-content: center;
    bottom: 13px;
    left: 48.1%;
}


#copyrights{
    width: 20px;
    user-select: none;

}

.copyrighttext{
    font-size: 18px;
    user-select: none;
    color: #073B4C;
}